<form action="/cats" method="post">
  <input type="text" name="name" placeholder="Name of Cats">
  <input type="text" name="color" placeholder="Color of Cats">
  <input type="text" name="kittens" placeholder="How many kittens?">
  <input type="submit" value="Create Cats">
</form>